[core]
    excludesfile = ~/.gitignore_global
[color]
    ui = auto

[diff]
    renamelimit = 0
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    keepBackup = false
[difftool]
    prompt = false
[difftool "vimdiff"]
    # This is the same as the default command git would use,
    # except missing a -R (readonly) option.
    cmd = vim -f -d -c \"wincmd l\" \"$LOCAL\" \"$REMOTE\"
[alias]
    dt = difftool
    mt = mergetool
